API_ID=9437694 # get this value from my.telegram.org
API_HASH=a92d2a0db24372f12ff42b0fe6469631 # get this value from my.telegram.org
BOT_TOKEN=5214195753:AAFvhODaeHeBXnCIjbu2LYsikI19ztDc7Jk # get this value from @Botfather
MONGO_DB_URI=mongodb+srv://kontol:kontol@cluster0.rg9ig.mongodb.net/test?myFirstDatabase?retryWrites=true&w=majority # get this value from mongodb.com
LOG_GROUP_ID=-1001667306793 # get this value from in your log group 
MUSIC_BOT_NAME=???? ?????????? # your music bot name 
STRING_SESSION=AgBX9hLrpna8Qwwwo1pINHoeDnsy5RAVqCG2uehBw9Muv-GfzbTceNyYgXxgOAVyPNmwskPIxk9x3RyqcKEgbN_RB2BCjWPOc0q8acXmjfdekCjWWvoR_mIhacwVqhgOCE2lVLFatkvePNsZdrOMWxhKghVUlGqk6EI9mkrv0UnQLYnCXWwZisHOnFDN29kE6xGDkfp0N1ETM4FBGApF2QGWv4HOp1D30ZyDPbXibJ45sy53saRVFbIofgtcjddjpzoySbiTg_3Ph5xfdhrAL-tmWhKnrjwpLI-ddgQoNqmh1NqK51s1bGGvNvAbOLdoSyuZ9v2Zn6gE2VI1PkuTHOrxAAAAATN7s_0A # get this value from @yukkistringbot
